<div ng-app="rumbleApp">
  <div ng-controller="MainController" ng-init="load()">
   <!-- ng-init="graphScores()" -->

    <div class="container">

      <div class="header">
        <span class="cat-header">CATEGORIES</span>
        <li class="categories" name='selectCategory' ng-repeat="category in categories" ng-click='getScales(category)' ng-class = '{active: category.id == cat_selected}'>
            {{category.name | uppercase}}
        </li>
      </div>

      <div class="main-div">

        <div class="graph-container">
          <div class="label-xplus">{{x.positive}}</div>
          <div class="label-xneg">{{x.negative}}</div>
          <div class="label-yplus">{{y.positive}}</div>
          <div id="graph"></div>
          <div class="label-yneg">{{y.negative}}</div>
        </div>


        <div class="menu">

<!--           <div class="rate-it">
          <div class="rate-it-header">How innovative is Uber?</div>
            <img class="img-thumb" src="http://www.brandsoftheworld.com/sites/default/files/styles/logo-thumbnail/public/122013/uber_logo_0.png">

            <center>
            <ul class="button-group">
              <li><a href="#" class="button rate-btn">Copycat</a></li>
              <li><a href="#" class="button rate-btn">Game Changer</a></li>
            </ul>
            </center>

          </div> -->
          
          <div class="random" ng-click="randomizeR()">
            RANDOMIZER
          </div>

<!--           <div class="random" ng-click="randomize()">
            RANDOMIZE
          </div> -->
          
          <span class="scale-header">SCALE 1</span>
            <li class="scales" ng-repeat="scale in scales" ng-click="xScale(scale)" ng-class = '{active: scale.id == x_selected}'>
                {{scale.name | uppercase}}
            </li>
          <br><br>
          <span class="scale-header">SCALE 2</span>
            <li class="scales" ng-repeat="scale in scales" ng-click="yScale(scale)" ng-class = '{active: scale.id == y_selected}'>
                {{scale.name | uppercase}}
            </li>

        </div>
        <div class="clear"></div>
      </div> <!-- main -->

    </div>

  </div> <!-- mainController -->
</div>

