
<div ng-app="rumbleApp">

  <div ng-controller="MainController">
  
    <h1>Categories</h1>
    <h3 ng-repeat="category in categories">
      {{category.name}}
    </h3>

  </div>

	<div id="graph">
	</div>
</div>
