<div ng-app="rumbleApp">
  <div ng-controller="MainController" ng-init="load()">
   <!-- ng-init="graphScores()" -->

    <div class="container">

      <div class="header">
        <span class="cat-header">CATEGORIES</span>
        <li class="categories" name='selectCategory' ng-repeat="category in categories" ng-click='getScales(category)'>
            {{category.name | uppercase}}
        </li>
      </div>

      <div class="main-div">

        <div class="graph-container">
          <div class="label-xplus">{{x.positive}}</div>
          <div class="label-xneg">{{x.negative}}</div>
          <div class="label-yplus">{{y.positive}}</div>
          <div id="graph"></div>
          <div class="label-yneg">{{y.negative}}</div>
          <!-- <div class="label-x scales active">{{x.name | uppercase}}</div> -->
          <!-- <div class="label-y scales active">{{y.name | uppercase}}</div> -->
        </div>


        <div class="menu">
<!--           <div class="scale1">
            <p>Scale 1</p>
            <select name='scale1' size='5' MULTIPLE ng-change='' ng-model='x'>
              <option ng-repeat='scale in scales' ng-value='scale'> -->
          
          <div class="random" ng-click="randomize()">
            RANDOMIZE
          </div>
          
          <span class="scale-header">SCALE 1</span>
            <li class="scales" ng-repeat="scale in scales" ng-click="xScale(scale)" ng-class = '{active: scale.id == x_selected}'>
                {{scale.name | uppercase}}
            </li>
          <br><br>
          <span class="scale-header">SCALE 2</span>
            <li class="scales" ng-repeat="scale in scales" ng-click="yScale(scale)" ng-class = '{active: scale.id == y_selected}'>
                {{scale.name | uppercase}}
            </li>

            <!-- <div class="entities">
              <span class="scale-header">COMPANIES</span>
              <li class="scales active">SHOW ALL</li>
              <li class="scales" ng-repeat="entity in entities">
                {{entity.name }}
              </li>
              <li class="scales">CLEAR ALL</li>
            </div> -->
        </div>
        <div class="clear"></div>
      </div> <!-- main -->

    </div>

  </div> <!-- mainController -->
</div>

